<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>DeployAutomation</display-name>
  <welcome-file-list>
    <welcome-file>DeploymentManifest</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>DeploymentManifest</display-name>
    <servlet-name>DeploymentManifest</servlet-name>
    <servlet-class>com.deployautomation.servlet.DeploymentManifest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeploymentManifest</servlet-name>
    <url-pattern>/DeploymentManifest</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeploymentAutomation</display-name>
    <servlet-name>DeploymentAutomation</servlet-name>
    <servlet-class>com.deployautomation.servlet.DeploymentAutomation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeploymentAutomation</servlet-name>
    <url-pattern>/DeploymentAutomation</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ArchiveMaifest</display-name>
    <servlet-name>ArchiveMaifest</servlet-name>
    <servlet-class>com.deployautomation.servlet.ArchiveMaifest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ArchiveMaifest</servlet-name>
    <url-pattern>/ArchiveMaifest</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeploymentItems</display-name>
    <servlet-name>DeploymentItems</servlet-name>
    <servlet-class>com.deployautomation.servlet.DeploymentItems</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeploymentItems</servlet-name>
    <url-pattern>/DeploymentItems</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteItems</display-name>
    <servlet-name>DeleteItems</servlet-name>
    <servlet-class>com.deployautomation.servlet.DeleteItems</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteItems</servlet-name>
    <url-pattern>/DeleteItems</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewManifest</display-name>
    <servlet-name>ViewManifest</servlet-name>
    <servlet-class>com.deployautomation.servlet.ViewManifest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewManifest</servlet-name>
    <url-pattern>/ViewManifest</url-pattern>
  </servlet-mapping>
</web-app>